<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Flask App</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>
  <header>
    <h1>Welcome to Flask App</h1>
  </header>

  <nav>
    <ul>
      <li><a href="{{ url_for('home') }}">Home</a></li>
      <li><a href="{{ url_for('classify_text') }}">Classify Text</a></li>
      <li><a href="{{ url_for('generate_text') }}">Generate Text</a></li>
    </ul>
  </nav>

  <main>
    <h2>Welcome to the Text Generation and Classification App</h2>
    <p>This Flask app allows you to explore the fascinating world of text processing. With its text classification feature, you can classify text into different categories using advanced machine learning models. Additionally, the text generation feature enables you to generate new text based on a given input, opening up a realm of creative possibilities. Get ready to explore the exciting capabilities of this app!
    </p>
  </main>

  <footer>
    <p>&copy; 2023 Flask App. All rights reserved.</p>
  </footer>
</body>

</html>
